$textGray           : #333333;
$textMiddleGray     : #b8b8b8;
$textLightGray      : #dddddd;
$btnBorderGray      : #aaaaaa;
$themeBlue          : #2c5173;
$themeBlueLight     : #2376A8;
$themeBlueAlt       : #47A5E5;
$bgLightGray        : #f3f3f3;
$bgDarkGray         : #2f2f2f;
$themeConsulta      : #1abc9c;
$themeVideoconsulta : #f39c12;
$themeWebmail       : #e74c3c;
$themeInforme       : #3498db;
$themeReceta        : #9b59b6;
